
/****************************
 Default parameter values
 nextflow run script.nf --genome "./test-data/ref/*.fasta"
 ****************************/

params {
  help = false
  outdir = './results'
  genome = './test-data/ref/b73_chr1_150000001-151000000.fasta'
  reads = "./test-data/fastq/*_{R1,R2}.fastq.gz"
  singularity_img = 'shub://aseetharam/gatk:latest'

  // optional manually link executables here
  bwa_app = 'bwa'
  samtools_app = 'samtools'
  picard_app = 'picard'         // 'java -jar picard.jar'
  bedtools_app = 'bedtools'
  gatk_app = 'gatk'
  vcftools_app = 'vcftools'
}

env {
  bwa_app = "$params.bwa_app"
  samtools_app = "$params.samtools_app"
  picard_app = "$params.picard_app"
  bedtools_app = "$params.bedtools_app"
  gatk_app = "$params.gatk_app"
  vcftools_app = "$params.vcftools_app"
}

/****************************
 Default process settings
 ****************************/
process {
  publishDir = "$params.outdir"
}

/****************************
 Settings for different computiong hardware
 ****************************/

profiles {
  local {
    cpus = 4
  }

  slurm {
    includeConfig 'configs/slurm.config'
  }

  condo {
    includeConfig 'configs/slurm.config'
    includeConfig 'configs/condo.config'
  }
  
  atlas {
    includeConfig 'configs/atlas.config'
  }

  docker {
    docker.enabled = true
  }

  singularity {
    process.container = params.singularity_img
    singularity.enabled = true
    singularity.autoMounts = true
    includeConfig 'configs/singularity.config'
  }

  // awsbatch, conda, test can be added later
}

docker.runOptions = '-u \$(id -u):\$(id -g)'

/*****************************
 Generate html runtime reports
  -with-timeline timeline.html
  -with-report report.html
 *****************************/
timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

/**********************************
 Author and software info here
 **********************************/
manifest {
  name = 'HuffordLab/Maize_WGS_Build'
  homePage = 'https://www.maizegdb.org'
  description = 'Yearly Maize WGS Build for MaizeGDB'
  mainScript = 'main.nf'
  version = '1.0.0'
}
