
/****************************
 Default parameter values
 nextflow run script.nf --genome "./test-data/ref/*.fasta"
 ****************************/

params {
  help = false
  outdir = './results'
  genome = './test-data/ref/b73_chr1_150000001-151000000.fasta'
  reads = './test-data/fastq/*.fastq.gz'
  /* Should be able to link directly to shub, but I'll use the local for now */
  /* singularity pull --name gatk.sif shub://aseetharam/gatk:latest */
  singularity_img = './gatk.img'
}

/****************************
 Default process settings
 ****************************/
process {
  publishDir = "$params.outdir"
}

/****************************
 Settings for different computiong hardware
 ****************************/

profiles {
  local {
    cpus = 4
  }

  slurm {
    includeConfig 'configs/slurm.config'
  }

  condo {
    includeConfig 'configs/slurm.config'
    includeConfig 'configs/condo.config'
  }

  docker {
    docker.enabled = true
  }

  singularity {
    process.container = params.singularity_img
    singularity.enabled = true
    singularity.autoMounts = true
  }

  // awsbatch, conda, test can be added later 
}

docker.runOptions = '-u \$(id -u):\$(id -g)'

/*****************************
 Generate html runtime reports
  -with-timeline timeline.html
  -with-report report.html
 *****************************/
timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

/**********************************
 Author and software info here
 **********************************/
manifest {
  name = 'HuffordLab/Maize_WGS_Build'
  homePage = 'https://www.maizegdb.org'
  description = 'Yearly Maize WGS Build for MaizeGDB'
  mainScript = 'main.nf'
  version = '1.0.0'
}