/*****************************
 Configuration for any slurm job
 *****************************/

process {
  executor = 'slurm'
  clusterOptions =  '-N 1 -n 16 -t 02:00:00 --account=isu_gif_vrsc'
  scratch=true

  /* Placeholder till we can add custom cluster configuration here
  withName:get_test_data { }
  withName:fasta_sort { }
  withName:fasta_bwa_index { }
  withName:fasta_samtools_faidx { }
  withName:fasta_picard_dict { }
  withName:paired_FastqToSAM { }
  withName:BAM_MarkIlluminaAdapters { }
  withName:BAM_SamToFastq { }
  withName:run_bwa_mem { }
  withName:run_MergeBamAlignment { }
  withName:fai_bedtools_makewindows { }
  withName:run_gatk_snp { }
  withName:merge_vcf { }
  withName:vcftools_snp_only { }
  withName:run_SortVCF { }
  withName:calc_DPvalue { }
  withName:gatk_VariantFiltration { }
  withName:keep_only_pass { }
  */
}
