/***********************
 Link Condo HPCC modules here
 ***********************/

process {
  withLabel:gatk0_index { module = 'samtools:picard:bwa:bedtools2:bioawk' }

  withLabel:'bedtools' { module = 'bedtools2'}
  withLabel:'bioawk'   { module = 'bioawk' }
  withLabel:'bwa'      { module = 'bwa' }
  withLabel:'fastqc'   { module = 'fastqc' }
  withLabel:'picard'   { module = 'picard' }
  withLabel:'samtools' { module = 'samtools' }
  withLabel:'gatk'     { module = 'gatk' }

  withLabel:'bwa_mem'  { module = 'bwa:samtools' }
}


