process {
  container = params.container_img
  
  // withLabel: gatk {
  //  container = "broadinstitute/gatk:latest"
  //}

  //withLabel: star {
  //  container = "quay.io/humancellatlas/secondary-analysis-star:v0.2.2-2.5.3a-40ead6e"
  //}

  // withLabel: snpeff {
  //   container = 'quay.io/biocontainers/snpeff:5.1d--hdfd78af_0'
  // }
}
