
/* Create your own customized config for each process */
/* Set cpu, module, singularity, docker img, etc */
/* https://www.nextflow.io/docs/latest/config.html?highlight=environment */

process {
  // withName:FastqToSam { }
  // withName:MarkIlluminaAdapters { }
  // withName:SamToFastq { }
  // withName:bwamem2_index { }
  // withName:bwamem2_mem { }
  // withName:CreateSequenceDictionary { }
  // withName:MergeBamAlignment { }
  // withName:samtools_faidx { }
  // withName:bedtools_makewindows { }
  // withName:gatk_HaplotypeCaller { }
  // withName:merge_vcf { }
  // withName:vcftools_snp_only { }
  // withName:SortVcf { }
  // withName:calc_DPvalue { }
  // withName:VariantFiltration { }
  // withName:keep_only_pass { }
}
