/*****************************
 Configuration for any slurm job
 *****************************/

env {
  threads = params.threads ? $params.threads : 16
  java_options = params.java_options ? " $params.java_options " : ' --java-options \"-Xmx80g -XX:+UseParallelGC\" '
}

process {
  executor = 'slurm'
  clusterOptions = "-N 1 -n ${env.threads} -t 04:00:00 ${env.account_flag}"
  scratch = true
}