/*****************************
 Configuration for any slurm job
 *****************************/

process {
  executor = 'slurm'
  clusterOptions =  '-N 1 -n 16 -t 02:00:00 $account_flag'
  scratch=true

//  Probably want to add small, medium and large memory configuration here
//  withLabel: small { cpus = 4; memory = '4.0 GB'}
//  withLabel: medium  { cpus = 2; memory = '4.0 GB'}
//  withLabel: large  { cpus = 2; memory = '4.0 GB'}
}
